html {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

body {
    margin-top: 6em;
    font-family: 'Lato', sans-serif;
}

container {
    width: 100%;
}

.button-nav {
    width: 150px;
    margin: 0 auto;
    text-align: center;
}


.restaurant-header {
   margin-bottom: 50px;
}

.restaurant-list {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    width: 600px;
    margin: 0 auto;
        -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}


.restaurant-list-item {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background: black;
    color: white;
    transition: background .25s;
     -webkit-backface-visibility: hidden;
    /*-webkit-perspective: 1000;*/
}

.restaurant-name {
    margin-top: 25px;
    text-align: center;
    transition: color .25s;
    color: lightgrey;
}

.icon-edit,
.icon-delete {
    color: lightgrey;
    font-size: 20px !important;
    opacity: 0;
    transition: color .25s, opacity .25s, transform .35s;
}

.icon-edit  {
    position: relative;
    left: 128px;
    top: 130px;

}

.icon-delete {
    position: relative;
    top: -1px;      /*4 pixels from top*/
    left: -17px;
}

.restaurant-list-item:hover {
    background: grey;
}

.restaurant-list-item:hover .icon-edit,
.restaurant-list-item:hover .icon-delete {
    opacity: 1;
}

.restaurant-list-item:hover .icon-edit {
    transform: translateY(-5px);
}

.restaurant-list-item:hover .icon-delete {
    transform: translateY(3px);

}

.restaurant-list-item:hover .restaurant-name {
    color: white
}


.icon-edit:hover,
.icon-delete:hover {
    color: white !important;
}

.bottom {
    margin: 2em auto 0 auto;
    width: 50%
}

.bottom p {
    text-align: center;
}



.item-list {
    margin-left: 2em;
}

.restaurant-item {
    height: 50px;
    margin-bottom: 50px;
}

.title {
    margin: 0 auto;
}

.title h1,
.title h4 {
    text-align: center;
}
.section-title {
    text-transform: uppercase;
}
.button-nav .btn {
    width: 98px;
}
footer {
    margin: 0 auto 2em 0;
}

footer div {
    text-align: center;
}


/*forms*/

form {
    margin-left: 20px;
    max-width: 500px;
    overflow-x: hidden;
}

form div {
    width: 100%;
}

form .required{
    color:red;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
select {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus,
select:focus,
textarea:focus{
    background-color: lightyellow;
    border: red;
}

input[type=submit],
.cancel {
    /*width: 100%;*/
    background-color: #4fb840;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background .25s, color .25s;
}

.cancel {
    background: linear-gradient(#f4f4f4, #e4e4e4);
    color: gray;
}

.cancel:hover {
    background: linear-gradient(#ececec, #dcdcdc);
    color: gray;
    text-decoration: none;
}
input[type=submit]:hover {
    background: linear-gradient(#4aad3c, #129100);
    color: white;
}

#course {
    width: 19em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

