html {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

body {
    margin-top: 6em;
    font-family: 'Lato', sans-serif;
}

container {
    width: 100%;
}

.button-nav {
    width: 150px;
    margin: 0 auto;
    text-align: center;
}

.restaurant-list, .item-list {
    margin-left: 2em;
}

.title {
    margin: 0 auto;
}

.title h1,
.title h4 {
    text-align: center;
}
.section-title {
    text-transform: uppercase;
}
.button-nav .btn {
    width: 98px;
}

