ul {
    list-style: none;
}

body {
    margin-top: 6em;
}

container {
    width: 100%;
}

.button-nav {
    width: 150px;
    margin: 0 auto;
    text-align: center;
}

.restaurant-list, .item-list {
    margin-left: 2em;
}
