{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="form-wrapper">
    <div class="form-heading">
        <h1>Delete Restaurant</h1>
    </div>
    <form action="{{ url_for('delete_restaurant', restaurant_id = restaurant.id) }}" method="post">
{#        <h2>Are you sure you want to delete the following:</h2>#}
{#        <label>Name</label>#}
        <label>Are you sure you want to delete <span id="rest-name">{{restaurant.name}}</span>?</label>
{#        <div class="item-value">#}
{##}
{#        </div>#}
        <div>
            <input class="input-delete btn" type="submit" value="YES">
            <a class="cancel cancel-delete btn btn-warning" href="{{ url_for('edit_restaurant', restaurant_id = restaurant.id) }}">No!</a>
        </div>
    </form>
</div>
{% endblock %}



