{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="form-wrapper">
    <div class="form-heading">
        <h1>Edit Restaurant</h1>
    </div>
{#    <form class="edit-form" action="{{ url_for('edit_restaurant', restaurant_id=restaurant_id) }}" method="post" enctype="multipart/form-data">#}
{#        <label>Name <span class="required">*</span></label>#}
{#        <div>#}
{#            <input size="80" name="name" type="text" placeholder="{{restaurant.name}}" required>#}
{#        </div>#}
{#        <label>Picture <span class="">*</span></label>#}
{#        <div>#}
{#            <input size="80" name="picture" type="text" placeholder="{{restaurant.picture}}" >#}
{#            <span class="btn btn-default btn-file">Upload <input type="file" name="image"></span>#}
{#        </div>#}
{#        <div>#}
{#            <input type="submit" value="Save">#}
{#            <a class="cancel" href="{{ url_for('show_menu', restaurant_id = restaurant.id) }}">Cancel</a>#}
{#        </div>#}
{#    </form>#}
    <form id="editRestForm" action="{{ url_for('create_restaurant') }}" method="post" enctype="multipart/form-data">
        <label>Name <span class="required">*</span></label>
        <div>
            <input type="text" size="80" name="name" placeholder={{ restaurant.name }} required>
        </div>
        <div>
        <span>Choose an Image</span>
            <ul class="img_gallery">
                <li class="img_thumbnail">
                    <img id="img_thumbnail" class="img_tn" data-imgpath="not-available-abbreviation-inside-a-circle_318-33662.jpg" src="{{ url_for('static', filename='img/not-available-abbreviation-inside-a-circle_318-33662.jpg') }}" alt="img">
                </li>
                {%  for k,v,z in user_pics %}
                    <li class="img_thumbnail">
                        <img class="img_tn" data-imgpath="{{ k }}" src="{{ url_for('static', filename='img/' + k) }}" alt="img">
                    </li>
                {% endfor %}
            </ul>
            <input id="target" type="text" name="picture" data-index="{{ index }}" value="{{ restaurant_pic }}">

        </div>


        <div>
            <span class="btn btn-default btn-file">Upload <input type="file" id="upload" name="image"></span>
        </div>
        <div>
            <input type="submit" value="Create">
            <a class="cancel" href="{{ url_for('show_restaurants') }}">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}
