{% extends "main.html" %}
{% block content %}
    <meta name="google-signin-client_id"
          content="215519493768-8jtog0odl8i5ap5dg3shcs8uic37emfh.apps.googleusercontent.com">
    <html itemscope itemtype="http://schema.org/Article">
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
    <script>
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '215519493768-8jtog0odl8i5ap5dg3shcs8uic37emfh.apps.googleusercontent.com',
                });
            });
        }
    </script>
    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                // Send one-time code to server
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        if (result) {
                            // Hide the login button
                            $('#btn-login').css('visibility', 'hidden');
                            // Start animation sequence for login
                            $('#login-container').addClass('animated zoomOut');
                            $('#login-container').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                                $('#login-msg').html('Login Successful');
                                $('#login-container').html(result + '<br />')
                                    .css({
                                        'display': 'block',
                                        'width': '100%',
                                        'justify-content': 'normal',
                                        'margin-top': '0'
                                    });
                                if ($(this).hasClass('zoomOut')) {
                                    $(this).removeClass('zoomOut');
                                    $(this).addClass('zoomIn');
                                } else if ($(this).hasClass('zoomIn')) {
                                    $(this).removeClass('zoomIn');
                                    setTimeout(function () {
                                        $('.loader').toggleClass('show animated fadeIn');
                                    }, 2000);
                                }
                            });
                            setTimeout(function () {
                                // Finally, redirect to the restaurants template.
                                window.location.href = "/restaurants";
                            }, 4000);
                        } else if (authResult['error']) {
                            console.log("There was an error: " + authResult['error']);
                        } else {
                            $('#login-container').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }
                })
            }
        }
    </script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '121197365194785',
                cookie: true,  // enable cookies to allow the server to access
                               // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.11' // use version 2.11
            });
        };
        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            // Fix found at https://geekflare.com/load-facebook-like-and-share-button-faster/. Increases by .5 sec
            js.async = true;
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=121197365194785';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function sendTokenToServer() {
            var access_token = FB.getAuthResponse()['accessToken'];
            FB.api('/me', function (response) {
                $.ajax({
                    type: 'POST',
                    url: '/fbconnect?state={{STATE}}',
                    processData: false,
                    data: access_token,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            // Hide the login button
                            $('#btn-login').css('visibility', 'hidden');
                            // Start animation sequence for login
                            $('#login-container').addClass('animated zoomOut');
                            $('#login-container').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                                $('#login-msg').html('Login Successful');
                                $('#login-container').html(result + '<br />')
                                    .css({
                                        'display': 'block',
                                        'width': '100%',
                                        'justify-content': 'normal',
                                        'margin-top': '0'
                                    });
                                if ($(this).hasClass('zoomOut')) {
                                    $(this).removeClass('zoomOut');
                                    $(this).addClass('zoomIn');
                                } else if ($(this).hasClass('zoomIn')) {
                                    $(this).removeClass('zoomIn');
                                    setTimeout(function () {
                                        $('.loader').toggleClass('show animated fadeIn');
                                    }, 2000);
                                }
                            });
                            setTimeout(function () {
                                // Finally, redirect to the restaurants template.
                                window.location.href = "/restaurants";
                            }, 4000);

                        } else {
                            $('#login-container').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }
                });
            });
        }
    </script>
    <!--END FACEBOOK SIGN IN -->
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="restModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div id="logo">
                        <span id="logo-prefix">EM</span>enus
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="login-msg">Sign in with</div>
                    <div id="login-container">
                        <div class="g-signin2"></div>
                        <script>
                            $('.g-signin2').click(function () {
                                auth2.grantOfflineAccess().then(signInCallback);
                            });
                        </script>
                        <style type="text/css">
                            .g-signin2:hover {
                                cursor: pointer;
                            }

                            .g-signin2 {
                                display: inline-block;
                                width: 120px;
                                margin-right: 10px;
                            }
                        </style>
                        <div class="fb-login-button" data-max-rows="1" data-size="medium"
                             data-button-type="continue_with" onlogin="sendTokenToServer();" data-show-faces="false"
                             data-auto-logout-link="false" data-use-continue-as="false">
                        </div>
                    </div>
                    <div class="loader">
                        <span>
                            <img src="{{ url_for('static', filename='img/Spin-1s-30px.svg') }}"/>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="login-cancel" data-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center top-margin">
        <div class="col-md-6"><p>Welcome to EMenus!<br>
            <div class="login-body">Please login to modify, create and edit entries or click the EMenus logo to return.
            </div>
            </p>
        </div>
        <!-- JS code -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
        <!--JS below-->
        <script>
            $(document).ready(function () {
                $("#myModal").modal();
            });
        </script>
    </div>
{% endblock %}