{% extends "main.html" %}
{% block content %}
    <!--Facebook Sign-in-->
<script>

  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }
  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      {#statusChangeCallback(response);#}
    });
  }

    window.fbAsyncInit = function() {
    FB.init({
      appId      : '121197365194785',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.11' // use graph api version 2.8
    });

    // Now that we've initialized the JavaScript SDK, we call
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
          $('#loginbox').css('opacity', '0');
    console.log('here')
    setTimeout(function () {
        $('#logincontainer').html('<div class="loginMsg">Login Successful</div>' + result + '<div class="redirectmsg">Redirecting...</div>');
    }, 250)
    setTimeout(function () {
        window.location.href = "/restaurants";
    }, 4000);
      {#document.getElementById('status').innerHTML =#}
      {#  'Thanks for logging in, ' + response.name + '!';#}
    });
  }
</script>



    <!--END FACEBOOK SIGN IN -->
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login-container" id="logincontainer">
                    <div class="login-box" id="loginbox">
                        <div class="text-container">
                            <span>
                                Sign in with
                            </span>
                        </div>
                        <!--Google Plus Sign in-->
                        <div id="signinButton">
                            <span class="g-signin"
                                  data-scope="openid email"
                                  data-clientid="215519493768-8jtog0odl8i5ap5dg3shcs8uic37emfh.apps.googleusercontent.com"
                                  data-redirecturi="postmessage"
                                  data-accesstype="offline"
                                  data-cookiepolicy="single_host_origin"
                                  data-callback="signInCallback"
                                  data-approvalprompt="force">
                            </span>
                        </div>
                        <!--Facebook signin button-->
                        <button>
                            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                            </fb:login-button>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center top-margin">
    <div class="col-md-6"><p>Welcome to EMenus!<br>
        <div class="login-body">Please login to modify, create and edit entries or click the EMenus logo to return.
        </div>
        </p>
    </div>

    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                // Send one-time code to server
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        if (result) {
                            $('#loginbox').css('opacity', '0');
                            console.log('here')
                            setTimeout(function () {
                                $('#logincontainer').html('<div class="loginMsg">Login Successful</div>' + result + '<div class="redirectmsg">Redirecting...</div>');
                            }, 250)
                            setTimeout(function () {
                                window.location.href = "/restaurants";
                            }, 4000);
                        } else if (authResult['error']) {
                            console.log("There was an error: " + authResult['error']);
                        } else {
                            $('#logincontainer').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }
                })
            }
        }
    </script>


    <!--End Google Plus Sign-in-->



    <!-- JS code -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <!--JS below-->
    <script>
        $(document).ready(function () {
            $("#myModal").modal();
        });
    </script>


    {% endblock %}