{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="form-wrapper">
    <div class="form-heading">
        <h1>New Restaurant</h1>
    </div>
    <form action="{{ url_for('create_restaurant') }}" method="post" enctype="multipart/form-data">
        <label>Name <span class="required">*</span></label>
        <div>
            <input type="text" size="80" name="name" placeholder="Name" required>
        </div>
{#        <label>Image <span class="required">*</span></label>#}
{#        <div>#}
{#            <input type="text" size="80" name="picture" placeholder="Picture" >#}
{#        </div>#}
        <label>Picture <span class="">*</span></label>
        <div>
            <input size="80" name="picture" type="text" placeholder="" >
            <span class="btn btn-default btn-file">Upload <input type="file" name="image"></span>
        </div>
        <div>
            <input type="submit" value="Create">
            <a class="cancel" href="{{ url_for('show_restaurants') }}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}