{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="flash blink">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
</div>
<div class="clearfix"></div>
<div class="row banner menu">
    <div class="col-8 offset-4 col-sm-8 offset-sm-4">
        <figure class="creator">
            <img src={{ creator.picture }}>
            <figcaption><span>Author:</span> {{ creator.name }}</figcaption>
        </figure>
        </h1>
    </div>
</div>
{#<div class="picture-container">#}
{#    <img class="menu-picture" src="{{ url_for('static', filename='img/' + restaurant.picture) }}"/>#}
{#</div>#}
<div class="picture-container ih-item circle colored effect13 bottom_to_top">
    <a href="{{ url_for('edit_restaurant', restaurant_id = restaurant.id) }}">
    <div class="img">
        {%  if restaurant.picture == '' %}
            <img src="{{ url_for('static', filename='img/not-available-abbreviation-inside-a-circle_318-33662.jpg') }}" alt="img">
        {%  else %}
            <img src="{{ url_for('static', filename='img/' + restaurant.picture) }}" alt="img">
        {%  endif %}
    </div>
    <div class="info">
        <div class="info-back">
            <h3>Modify</h3>
            <p>Edit / Delete</p>
        </div>
    </div>
    </a>
</div>
<div class="title">
    <h1>
        {{restaurant.name}}
    </h1>
</div>
<div class="title">
    <h4>
        Restaurant
    </h4>
</div>
<div class="button-mobile row">
    <i class="fa fa-pencil icon-edit-r" aria-hidden="true"
       onclick="location.href = '{{ url_for('edit_restaurant', restaurant_id = restaurant.id) }}'"></i>
    <i class="fa fa-trash icon-delete-r" aria-hidden="true"
       onclick="location.href = '{{ url_for('delete_restaurant', restaurant_id = restaurant.id) }}'"></i>
    <div class="clearfix"></div>
</div>

<div class="menu-section">
    <div class="menu-container">
        {% if 'username' in session %}
            <i class="fa fa-plus icon-add-r" aria-hidden="true"
                onclick="location.href = '{{ url_for('create_menu_item', restaurant_id = restaurant.id) }}'"></i>
        {%  endif %}
        {% if appetizers %}
        <h4 class="section-title" id="appetizer-section">Appetizers<i class="fa fa-chevron-down" id="appetizer-toggle"
                                                                      aria-hidden="true"></i></h4>
        <div class="row" id="appetizer-row">
            {% for a in appetizers %}
            <div class="item-list col-8 offset-1 col-sm-8 offset-sm-1 col-md-8 offset-md-1">
                <div class="itemName">
                    <div class="item-name">{{a.name}}</div>
                    <i>{{a.description}}</i><br>
                </div>
            </div>
            <div class="item-price col-2 col-sm-2 col-md-1">
                {{a.price}}
            </div>
                {% if 'username' in session %}
                <div class="button-nav col-1 col-sm-1 col-lg-1">
                    <i class="fa fa-pencil icon-edit-r" aria-hidden="true"
                       onclick="location.href = '{{ url_for('edit_menu_item', restaurant_id = restaurant.id, menu_id = a.id) }}'"></i>
                    <i class="fa fa-trash icon-delete-r" aria-hidden="true"
                       onclick="location.href = '{{ url_for('delete_menu_item', restaurant_id = restaurant.id, menu_id = a.id) }}'"></i>
                </div>
                {%  endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if entrees %}
        <h4 class="section-title" id="entree-section">Entrees<i class="fa fa-chevron-down" id="entree-toggle"
                                                                aria-hidden="true"></i></h4>
        <div class="row" id="entree-row">
            {% for e in entrees %}
                <div class="item-list col-8 offset-1 col-sm-8 offset-sm-1 col-md-8 offset-md-1">
                    <div class="itemName">
                        <div class="item-name">{{e.name}}</div>
                        <i>{{e.description}}</i><br>
                    </div>
                </div>
            <div class="item-price col-2 col-sm-2 col-md-1">
                {{e.price}}
            </div>
                {% if 'username' in session %}
                    <div class="button-nav col-12 col-sm-12 col-lg-1">
                        <i class="fa fa-pencil icon-edit-r" aria-hidden="true"
                           onclick="location.href = '{{ url_for('edit_menu_item', restaurant_id = restaurant.id, menu_id = e.id) }}'"></i>
                        <i class="fa fa-trash icon-delete-r" aria-hidden="true"
                           onclick="location.href = '{{ url_for('delete_menu_item', restaurant_id = restaurant.id, menu_id = e.id) }}'"></i>
                    </div>
                {%  endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if desserts %}
        <h4 class="section-title" id="dessert-section">Desserts<i class="fa fa-chevron-down" id="dessert-toggle"
                                                                  aria-hidden="true"></i></h4>
        <div class="row" id="dessert-row">
            {% for d in desserts %}
            <div class="item-list col-8 offset-1 col-sm-8 offset-sm-1 col-md-8 offset-md-1">
                <div class="itemName">
                    <div class="item-name">{{d.name}}</div>
                    <i>{{d.description}}</i><br>
                </div>
            </div>
            <div class="item-price col-2 col-sm-2 col-md-1">
                {{d.price}}
            </div>
                {% if 'username' in session %}
                    <div class="button-nav col-12 col-sm-12 col-lg-1">
                        <i class="fa fa-pencil icon-edit-r" aria-hidden="true"
                           onclick="location.href = '{{ url_for('edit_menu_item', restaurant_id = restaurant.id, menu_id = d.id) }}'"></i>
                        <i class="fa fa-trash icon-delete-r" aria-hidden="true"
                           onclick="location.href = '{{ url_for('delete_menu_item', restaurant_id = restaurant.id, menu_id = d.id) }}'"></i>
                    </div>
                {%  endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if beverages %}
        <h4 class="section-title" id="beverage-section">Beverages<i class="fa fa-chevron-down" id="beverage-toggle"
                                                                    aria-hidden="true"></i></h4>
        <div class="row" id="beverage-row">
            {% for b in beverages %}
            <div class="item-list col-8 offset-1 col-sm-8 offset-sm-1 col-md-8 offset-md-1">
                <div class="itemName">
                    <div class="item-name">{{b.name}}</div>
                    <i>{{b.description}}</i><br>
                </div>
            </div>
            <div class="item-price col-2 col-sm-2 col-md-1">
                {{b.price}}
            </div>
                {% if 'username' in session %}
                    <div class="button-nav col-12 col-sm-12 col-lg-1">
                        <i class="fa fa-pencil icon-edit-r" aria-hidden="true"
                           onclick="location.href = '{{ url_for('edit_menu_item', restaurant_id = restaurant.id, menu_id = b.id) }}'"></i>
                        <i class="fa fa-trash icon-delete-r" aria-hidden="true"
                           onclick="location.href = '{{ url_for('delete_menu_item', restaurant_id = restaurant.id, menu_id = b.id) }}'"></i>
                    </div>
                {%  endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
</div>
<footer>
    <div>
        <a href="/">Return to home</a>
    </div>
</footer>
{% endblock %}