{% extends "main.html" %}
{% block content %}
<div class="flash blink">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<div class="clearfix"></div>

<div class="row banner-main">
    <div class="col-4 offset-1 col-sm-4 offset-sm-0">
        <h1>
            Menus
        </h1>
    </div>
</div>

<div class="row">
    {% if 'username' in session %}
    <div class="col-9 offset-1 col-sm-9 offset-sm-0 col-lg-9 offset-lg-1 icon-add-restaurant">
        <i class="fa fa-plus icon-add" aria-hidden="true"
           onclick="location.href = '{{ url_for('create_restaurant') }}'"></i>
    </div>
{%  endif %}
    <ul class="restaurant-list" id="restaurant-list">
        {% for r in restaurants %}
            <li class="restaurant-card-circle">
                <div class="ih-item circle colored effect6 scale_up"><a href="#">
                <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/ihover.min.css') }}">
                <div class="img"><img src="{{ url_for('static', filename='img/' + r.picture) }}" alt="img"></div>
                <div class="info">
                  <h3 class="name">{{ r.name|truncate(20, True) }}</h3>
                  <p>{{ r.cuisine }}</p>
                </div></a></div>
            </li>
{#        <div class="restaurant-card">#}
{#            <li class="restaurant-list-item">#}
{#                <i class="fa fa-pencil icon-edit" aria-hidden="true"#}
{#                   onclick="location.href = '{{ url_for('edit_restaurant', restaurant_id = r.id) }}'"></i>#}
{#                <i class="fa fa-trash icon-delete" aria-hidden="true"#}
{#                   onclick="location.href = '{{ url_for('delete_restaurant', restaurant_id = r.id) }}'"></i>#}
{#                <i class="fa fa-file icon-menu" aria-hidden="true"#}
{#                   onclick="location.href = '{{ url_for('show_menu', restaurant_id = r.id) }}'"></i>#}
{#                <div class="menu-header" onclick="location.href = '{{ url_for('show_menu', restaurant_id = r.id) }}'">#}
{#                    Menu#}
{#                </div>#}
{#            </li>#}
{#            <div class="restaurant-footer">#}
{#                <div class="restaurant-name">#}
{#                    {{r.name|truncate(20, True) }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        {% endfor %}
    </ul>
</div>

{% endblock %}