/*Color Palette:*/
/*#4f1119 Maroon*/
/*#b8292f Red*/
/*#d84f56 Light Red*/
/*#543d17 Brown*/
/*#9e8656 Tan*/
/*#f6b554 Yellow*/
/*hsla(50, 64%, 81%, 1) Dark Light Yellow*/
/*#f3ecc9 Light Yellow*/
/*#5e8323 Green*/
/*#b6d554 Lime*/
/*#d4e3a5 Light Green*/



.blink {
  animation: blinker 1s linear 9;
}

@keyframes blinker {
  50% { opacity: 0; }
}


html {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
    background: #543d17;
    color: #edfbea;
}

.no-select {
    user-select: none;
}


.navbar-default {
    background: #4f1119;
    border-color: #b8292f;
}

.navbar-header {
    width: 100%;
}

#logo-prefix {
    color: #7d9b3d;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 25px;
    text-shadow: 2px 4px 3px #5e8323;
}
#logo {
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

.top-banner {
    margin-top: 200px;
}

.top-buffer {
    margin-top: 25px;
}

.user_picture {
    height: 30px;
    border-radius: 20px;
}

#user-status {
    float: right;
}

#user-status a {
    margin-left: 10px;
    font-size: 14px;
    float: right;
    padding: 2px 4px;
    color: rgb(237, 251, 234);
}

.user-status a:hover {
    text-decoration: none;
}

.login-box {
    transition: opacity .25s;
}

#login-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: .35s !important;
}


.picture-container {
    margin: 0 auto;
}

.loginprofilecontainer {
    overflow: hidden;
}

.profileImg {
    width: 32%;
    float: left;
}

.profileImg img {
    height: 100px;
    margin-left: 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

.login-box {
    transition: opacity .25s;
    padding: 10px;
}

#login-msg {
    text-align: center;
    font-size: 1.75em;
}


.login-body {
    padding: 10px;
}

.top-margin {
    margin-top: 6em;
}

.close {
    color: white;
}

.text-container {
    width: 20%;
}


.g-signin2 {
    margin-right: 10px;
}

container {
    width: 100%;
}

#r-list {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
}

.r-card {
    margin: 20px;
}

.restaurant-card {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-backface-visibility: hidden;
}

.restaurant-list-item {
    width: 100%;
    border: 1px solid black;
    border-radius: 50%;
    background: #4f1119;
    color: white;
    transition: background .25s;
}

.restaurant-footer {
    color: lightgrey;
    transition: color .25s;
    width: 100%;
    background: black;
    height: 25%;
}

.restaurant-name {
    text-align: center;
    padding: 3px;
}

.r-cuisine {
    font-size: 15px !important;
}

.r-name {
    font-size: 21px !important;
    overflow: hidden;
}

.info-back,
.info:not(#form-circle) {
    background-color: hsla(83, 58%, 33%, 0.75) !important;
    /*Stretch to full height*/
    height: 100%;
    border-radius: 50%;
}


.icon-edit,
.icon-delete,
.icon-menu {
    position: relative;
    color: hsla(179, 100%, 100%, 0.7);
    font-size: 20px !important;
    opacity: 0;
    transition: color .25s, opacity .25s, transform .35s;
}

#icon-add,
.icon-add-r {
    font-size: 45px;
    color: #5e8323;
    transition: transform .5s;
}

#icon-add:hover,
.icon-add-r:hover{
    transform: scale(1.2);
    color: #b6d554;
}

.icon-menu {
    top: 45px;
    left: 27px;
}

.menu-header {
    position: relative;
    top: 38px;
    left: 55px;
    transition: opacity .25s, color .25s, transform .25s;
    opacity: 0;
    color: hsla(360, 100%, 100%, 0.69);
}

.restaurant-card:hover {
    background: #b8292f;
    border: 1px solid #f7dad6;
}

.icon-edit:hover,
.icon-delete:hover,
.icon-menu:hover,
.menu-header:hover {
    color: white !important;
}

.bottom {
    margin: 2em auto 0 auto;
    width: 50%
}

.bottom p {
    text-align: center;
}


.flash {
    float: right;
    color: #f6b554;
}

/*showMenu template*/

.title {
    margin: 25px auto 0 auto;
}

.title h1,
.title h4 {
    text-align: center;
}
.top-menu {
    margin-bottom: 20px;
}

.creator {
    float: right;
    text-align: right;
}

.creator img {
    width: 75px;
}

figcaption {
    padding-top: 5px;
}
.menu-container {
    margin: 0 auto;
    width: 85%;
}

.menu-picture {
    width: 20%;
    border-radius: 42px;
    margin-bottom: 20px;
}

.section-title {
    text-transform: uppercase;
    color: #f6b554;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #f3ecc9;
}

#appetizer-toggle,
#entree-toggle,
#dessert-toggle,
#beverage-toggle {
    float: right;
}

.item-list, .section-title {
    margin-bottom: 20px;
}

.item-name {
    color: #f3ecc9;
    font-weight: 600;
}

.item-price {
    padding-top: 2px;
    text-align: right;
}

.button-nav {
    text-align: center;
}

.button-mobile {
    display: none;
}

.button-nav div {
    margin-bottom: 5px;
}

.icon-edit-r,
.icon-delete-r {
    position: relative;
    font-size: 25px;
}

.icon-edit-r {
    color: #5e8323;
    transition: color .25s, transform .5s;
}

.icon-edit-r:hover {
    color: #b6d554;
    transform: scale(1.2);
}

.icon-delete-r {
    color: #b8292f;
    transition: color .25s, transform .5s;
}

.icon-delete-r:hover {
    color: #d84f56;
    transform: scale(1.2);
}

footer {
    margin: 0 auto 2em 0;
    color: #b6d554;
}

footer div {
    text-align: center;
}

footer div a {
    color: #b6d554;
}

footer div a:hover {
    color: #d4e3a5;
}

/*forms*/

.form-wrapper {
    max-width: 560px;
    margin: 0 auto;
}



form {
    margin-left: 20px;
    max-width: 500px;
    /*Needed so that the scroll bar does not appear on the amimated button child div*/
    overflow: hidden;
    padding-right: 10px;
}

.form-heading .title-new-item,
.form-heading h2{
    display:inline;
}

.edit-form {
    max-width: 594px;
}

form div {
    width: 100%;
}

form .required{
    color: #b8292f;
}

label {
    margin-top:10px;
}

option {
    font-weight: 600;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
select {
    border-radius: 0px;
    border-color: #d84f56;
    font-weight: 600;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

input[type=text],
select,
textarea,
.item-value {
    color: black;
    background: hsla(50, 64%, 81%, 1);
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d84f56;
    outline-color: #d84f56;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus,
select:focus,
textarea:focus{
    background-color: #f3ecc9;
    border: #b8292f;
}

input[type=submit],
.cancel,
.delete {
    color: white;
    padding: .375rem .75rem;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger {
    margin-left: 5px;
}

#btn-set:disabled {
    background-color: #5e8323;
      opacity: 0.65;
  cursor: not-allowed;
}


.cancel-delete {
    color: white;
}

.delete {
    /*float:right;*/
}

.delete:after {
  content: "";
  display: table;
  clear: right;
}

#newRestForm,
#editRestForm,
#deleteRestForm {
    clear: both;
}

.form-heading-nr {
    float: left;
    margin: 40px 0 0 10px;
}

.form-heading-nr h1 {
    white-space: nowrap;
}

.form_image {
    height: 100px;
    float: left;
}


.bg_brown {
    background-color: #4f1119 !important;
}

#rest-name {
    font-size: 20px;
    font-weight: 600;
    color: hsla(50, 64%, 81%, 1);
}

#r-name {
    color: #f6b554
}

/*Fade in from center tip from http://hawkee.com/snippet/16154/*/

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.show .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}


.modal-body {
    height: 172px;
    background: #f3ecc9;
    color: rgba(23, 11, 45, .75);
    overflow-y: hidden;
}

.loader {
    visibility: hidden;
    padding-top: 10px;
    width: 45px;
    margin: 0 auto;
}

.show {
    visibility: visible;
}

.modal-content {
    background: transparent;
}

/*Keep this hidden as this is only used to pass information to form*/
#target {
    display: none;
}

.modal-header {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.modal-footer {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;

}

.modal-header,
.modal-footer {
    background: #543d17;
}

.warning {
    font-size: 14px;
    font-weight: bold;
    color: #b8292f;
}

.img_gallery {
    margin-top: 10px;
    list-style: none;
    height: 56px;
}
.img_thumbnail {
    width: 56px;
    height: 56px;
    padding: 2px;
    white-space: nowrap;
    /*border: 1px solid black;*/
    float: left;
    transition: border ease-out .25s;
}

.img_thumbnail img{
    height: 50px;
    width: 50px;
}

.img_thumbnail:hover {
    outline: 1px dotted #b8292f;
}

.selected{
    outline: 2px solid #f6b554;
}

.btn-save {
    background: #5e8323 !important;
    border-color: #b6d554;
    transition: background .5s !important;
}



.btn-save:hover,
.btn-set:hover {
    background: #b6d554;
}

.btn-primary,
.btn-secondary {
    float: right;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem #5e8323;

}

#btn-cancel {
    margin-left: 5px;
}

.btn-primary {
    background-color: #5e8323;
}

.btn-primary:hover:not([disabled]),
.btn-primary:active:not([disabled]),
.btn-primary:focus:not([disabled]) {
    color: black;
    background-color: #b6d554 !important;
}

.btn-secondary {
    background-color: #4f1119;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    /*color: black;*/
    background-color: #f6b554;
}


.btn-secondary:not(#login-cancel):hover,
.btn-secondary:not(#login-cancel):active,
.btn-secondary:not(#login-cancel):focus {
    color: black;
    /*background-color: #d84f56;*/
    text-decoration: none;
}


.no_upload {
    /*visibility: hidden;*/
    display: none;
    color: #4f1119;
    font-weight: bold;
}


.icons_delete {
    width: 56px;
    float: left;
    margin-top: -13px;
}

.icons_delete i {
    color :#4f1119;
    transition: color ease-in .25s, opacity ease-in .25s;
    font-size: 20px;
    opacity: 0;
}

.icons_delete:hover i {
    color: #b8292f ;
}

.image_container {
    margin-left: 96px;
    text-align: center;
}

/*.image_container:after {*/
  /*content: "";*/
  /*display: table;*/
  /*clear: both;*/
/*}*/

.icon_show {
    opacity: 1 !important;
}

/*.upload_container*/
.file_container {
    text-align: center;
}


.file_container {
    font-size: 12px;
}

/*.upload_container {*/
    /*transition: opacity ease-in-out .75s;*/
    /*!*visibility: hidden;*!*/
    /*display: none;*/
/*}*/




#course {
    width: 19em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-delete {
    background: #b8292f !important;
    transition: background .25s;
}

.input-delete:hover {
    background: #d84f56 !important;
}


/*iPhone 5 Portrait*/
@media only screen and (min-width: 320px) and (orientation: portrait) {
/*@media only screen and (min-width: 320px)  {*/

    #add-restaurant {
        margin-bottom: 10px;
    }

    #user-status {
        float: right;
    }

    .icon-delete,
    .icon-edit,
    .menu-header {
        display: none;
    }

    .menu-header {
        opacity: 0;
    }


    .top-buffer {

        margin-bottom: 10px;
    }

    #r-list {
        padding-left: 0;
        width: 234px;
        column-count: 2;
        -webkit-column-count: 2;
    }

    #restaurant-list-item:hover .icon-menu {
        transform: none;
    }

    .restaurant-card {
        width: 100px;
        height: 200px;
        margin-bottom: 30px;
    }

    #restaurant-list-item {
        height: 65%;
    }

    #login-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .profileImg {
        width: auto;
        margin: 5px 0 5px;
    }

    .profileImg img {
        height: 100px;
        margin-left: 0;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
    }

    .text-container {
        width: 40%;
        height: 100%;
    }
    .welcomeMsg {
        text-align: center;
    }

    #user-status {
        padding: 4px;
    }

    .user_picture {
        height: 30px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.15em;
    }

    input[type=submit],
    .cancel {
        padding: 7px 10px;
    }

    .creator img {
        width: 30px;
    }

    .item-price {
        width: auto;
        margin: 0 auto;
    }

    .icon-edit-r,
    .icon-delete-r {
        font-size: 40px;
    }

    .icon-edit-r {
        float: left;
        margin-left: 10px;
    }

    .icon-delete-r {
        float: right;
        margin-right: 10px;
    }

    .button-nav {
        margin: 10px 0 20px;
    }

    .button-mobile {
        display: block;
        margin-bottom: 40px;
    }

    .button-mobile .icon-edit-r {
        margin-left: 60px;
    }

    .button-mobile .icon-delete-r {
        margin-right: 60px;
    }
}


/*iphone 5 LS*/
@media only screen and (min-width: 568px) and (orientation: landscape) {
/*@media only screen and (min-width: 568px)  {*/

    #r-list {
        width: 390px;
        padding-left: 0;
        column-count: 3;
        -webkit-column-count: 3;
    }

    .icon-edit-r {
        float: left;
        margin-left: 30px;
    }

    .icon-delete-r {
        float: right;
        margin-right: 30px;
    }

    .button-mobile .icon-edit-r {
        margin-left: 125px;
    }
    .button-mobile .icon-delete-r {
        margin-right: 125px;
    }
    .icon-add-r {
        margin-left: 30px;
    }

    .text-container {
        width: 25%;
    }

}


/*iPhone 6 Portrait*/
@media only screen and (min-width: 375px) and (orientation: portrait) {
/*@media only screen and (min-width: 375px)  {*/


    .creator {
        margin-right: 10px;
    }

    #r-list {
        width: 245px;
    }

    .text-container {
        height: 90px;
    }
    #login-container {
        flex-direction: column;
    }

    .profileImg {
        margin: 0 auto;
    }
}

/*iPhone 6 LS*/
@media only screen and (min-width: 375px) and (orientation: landscape) {
/*@media only screen and (min-width: 375px)  {*/

    #banner-main {
        margin: 10px 0;
    }
    #r-list {
        width: 450px;
    }
}


/*iPhone 6+ P */

@media only screen and (min-width: 414px) and (orientation: portrait) {
/*@media only screen and (min-width: 414px) {*/

    #r-list {
        width: 300px;
        column-gap: 100px;
    }

}

/*iPhone 6+ LS */

/*@media only screen and (min-width: 735px) {*/
@media only screen and (min-width: 735px) and (orientation: landscape) {

    #r-list {
        width: 500px;
    }

    #user-status {
    padding: 0.5rem;
}

}

/*iPad P */

@media only screen and (min-width: 768px) and (orientation: portrait) {
/*@media only screen and (min-width: 768px) {*/

    #icon-add {
        margin-left: 43px;
    }

    .icon-add-r {
        margin-bottom: 10px;
    }

    .button-mobile .icon-edit-r {
        margin-left: 200px;
    }

    .button-mobile .icon-delete-r {
        margin-right: 200px;
    }
}

/*iPad LS */

@media only screen and (min-width: 768px) and (orientation: landscape) {
/*@media only screen and (min-width: 1024px) and (orientation: landscape) {*/
    .container {
        margin-top: 30px;
    }

    .icon-edit-r {
        margin-left: 70px;
    }

    .icon-delete-r {
        margin-right: 70px;
    }

    .button-mobile .icon-edit-r {
        margin-left: 300px;
    }

    .button-mobile .icon-delete-r {
        margin-right: 300px;
    }
}

/*desktops*/

@media only screen and (min-width: 769px) {

    .text-container {
        width: 20%;
    }

    .button-mobile {
        display: none;
    }

    .restaurant-card {
        width: 200px;
        height: 230px;
        margin-bottom: 40px;
    }

    #r-list {
        width: 800px;
        column-count: 3;
        -webkit-column-count: 3;
    }

    .restaurant-list-item {
        height: 75%;
    }

    .restaurant-name {
        line-height: 100%;
    }

    .icon-edit,
    .icon-delete,
    .menu-header {
        display: block;
    }

    .icon-delete {
        top: -19px;
        left: 2px;
    }

    .icon-edit  {
        left: 128px;
        top: 114px;
        z-index: 1;
    }

    .icon-menu {
        font-size: 45px !important;
        opacity: 1;
        top: -6px;
        left: calc((150px - 39px) / 2);
    }

    .restaurant-list-item:hover .icon-edit,
    .restaurant-list-item:hover .icon-delete,
    .restaurant-list-item:hover .icon-menu,
    .restaurant-list-item:hover .menu-header {
        opacity: 1;
    }

    .restaurant-list-item:hover .icon-edit {
        transform: translateY(-5px);
    }

    .restaurant-list-item:hover .icon-delete {
        transform: translateY(3px);
    }

    .restaurant-list-item:hover .icon-menu {
        transform: translateY(10px) scale(1.5);
    }
    .restaurant-list-item:hover .menu-header {
        transform: translateY(-20px);
    }

    .icon-edit-r {
        margin: 0 0 10px;
    }

    .icon-delete-r {
        float: right;
        margin: 0;
    }
}
