.blink {
  animation: blinker 1s linear 9;
}

@keyframes blinker {
  50% { opacity: 0; }
}


html {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

body {
    /*margin-top: 6em;*/
    font-family: 'Lato', sans-serif;
    /*background: #1b0907;*/
    /*background: #83372c;*/
    background: #832012;
        background: #1a0401;
    color: #edfbea;
}

.navbar-default {
    background: #1a0401;
        background: #4f0b02;
    /*background: #36120d;*/
    border-color: #895048;
}

.navbar-header {
    width: 100%;
}

#logo-prefix {
    color: #05834c;
    /*color: #edfbea;*/
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 25px;
    text-shadow: 2px 4px 3px #246939;
}
#logo {
        /*color: #4fb840;*/
    /*color: #0d3624;*/
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}
/*.navbar-brand span {*/
    /*!*color: #4fb840;*!*/
    /*!*color: #0d3624;*!*/
    /*font-weight: bold;*/
    /*color: white;*/
    /*letter-spacing: 1px;*/
/*}*/

.top-banner {
    margin-top: 200px;
}

.top-buffer {
    margin-top: 25px;
}

.user_picture {
    height: 50px;
    border-radius: 20px;
}

.user-status {
    float: right;
}

.user-status a {
    /*color: #4fb840;*/
        /*color: #1e6810;*/
        /*color: #05834c;*/
    margin-left: 10px;
    font-weight: bold;
    color: #05834c;
    float: right;
}


.modal-content {
    /*background: #2c6824;*/
    background: #246939;
}

.login-box {
    transition: opacity .25s;
}

.login-container, .picture-container {
    margin: 0 auto;
}

.loginprofilecontainer {
    overflow: hidden;
}

.welcomeMsg {
    padding-top: 25px;
}

.profileImg {
    width: 32%;
    float: left;
}

.profileImg img {
    height: 100px;
    margin-left: 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

.login-box {
    transition: opacity .25s;
    padding: 10px;
}

.loginMsg {
    text-align: center;
    font-size: 1.75em;
}

.login-body {
    padding: 10px;
}

.top-margin {
    margin-top: 6em;
}

.close {
    color: white;
}

.text-container {
    width: 20%;
}

.text-container, #signinButton {
    float: left;
}

#signinButton {
    margin-right: 10px;
}

container {
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    /*-moz-column-count: 3;*/
    /*-webkit-column-count: 3;*/
    /*column-count: 3;*/
    width: 600px;
    margin: 0 auto;
    /*-webkit-column-break-inside: avoid;*/
    /*page-break-inside: avoid;*/
    /*break-inside: avoid;*/
}

.restaurant-card-circle {
    margin: 20px;
}

.restaurant-card {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-backface-visibility: hidden;
}

.restaurant-list-item {
    width: 100%;
    border: 1px solid black;
    border-radius: 50%;
    background: #6b241b;
    color: white;
    transition: background .25s;
}

.restaurant-footer {
    color: lightgrey;
    transition: color .25s;
    width: 100%;
    background: black;
    height: 25%;
}

.restaurant-name {
    text-align: center;
    padding: 3px;
}

.cuisine {
    font-size: 15px !important;
}

.name {
    font-size: 21px !important;
}
.info-bg {
    background: hsla(154, 93%, 27%, 0.80) !important;
    /*background: hsla(112, 48%, 49%, .45) !important;*/
}

.icon-edit,
.icon-delete,
.icon-menu {
    position: relative;
    color: hsla(179, 100%, 100%, 0.7);
    font-size: 20px !important;
    opacity: 0;
    transition: color .25s, opacity .25s, transform .35s;
}

.icon-add,
.icon-add-r {
    font-size: 45px;
    /*color: #4fb840;*/
    color: #05834c;
    transition: transform .5s;
}

.icon-add:hover,
.icon-add-r:hover{
    transform: scale(1.2);
    /*color: #72c666;*/
}

.icon-menu {
    top: 45px;
    left: 27px;
}

.menu-header {
    position: relative;
    top: 38px;
    left: 55px;
    transition: opacity .25s, color .25s, transform .25s;
    opacity: 0;
    color: hsla(360, 100%, 100%, 0.69);
}

.restaurant-card:hover {
    background: #895048;
    border: 1px solid #f7dad6;
}

.icon-edit:hover,
.icon-delete:hover,
.icon-menu:hover,
.menu-header:hover {
    color: white !important;
}

.bottom {
    margin: 2em auto 0 auto;
    width: 50%
}

.bottom p {
    text-align: center;
}


.flash {
    float: right;
    color: #94382c;
}

/*showMenu template*/

.title {
    margin: 25px auto 0 auto;
}

.title h1,
.title h4 {
    text-align: center;
}
.top-menu {
    margin-bottom: 20px;
}

.creator {
    float: right;
    text-align: right;
}

.creator img {
    width: 75px;
}

figcaption {
    padding-top: 5px;
}
.menu-container {
    margin: 0 auto;
    width: 85%;
}

/*.picture-container {*/
    /*!*text-align: center;*!*/
/*}*/
.menu-picture {
    width: 20%;
    border-radius: 42px;
    margin-bottom: 20px;
}

.section-title {
    text-transform: uppercase;
    color: #a67c76;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #895048;
}

#appetizer-toggle,
#entree-toggle,
#dessert-toggle,
#beverage-toggle {
    float: right;
}

.item-list, .section-title {
    margin-bottom: 20px;
}

.item-name {
    color: #fbecea;
    font-weight: 600;
}

.item-price {
    padding-top: 2px;
    text-align: right;
}

.button-nav {
    text-align: center;
}

.button-mobile {
    display: none;
}

.button-nav div {
    margin-bottom: 5px;
}

.icon-edit-r,
.icon-delete-r {
    position: relative;
    font-size: 25px;
}

.icon-edit-r {
    /*color: #3b8a30;*/
    color: #1e6810;
    transition: color .25s, transform .5s;
}

.icon-edit-r:hover {
    color: #4fb840;
    transform: scale(1.2);
}

.icon-delete-r {
    color: #c54b3b;
    transition: color .25s, transform .5s;
}

.icon-delete-r:hover {
    color: #d06f62;
    transform: scale(1.2);
}

footer {
    margin: 0 auto 2em 0;
    color: #4fb840;
}

footer div {
    text-align: center;
}

footer div a {
    color: #4fb840;
}

footer div a:hover {
    /*color: #3b8a30;*/
        color: #1e6810;
}

/*forms*/

form {
    margin-left: 20px;
    max-width: 500px;
    overflow-x: hidden;
}

.form-heading .title-new-item,
.form-heading h2{
    display:inline;
}

.edit-form {
    max-width: 594px;
}

form div {
    width: 100%;
}

form .required{
    color:red;
}

label {
    margin-top:10px;
}

option {
    font-weight: 600;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
select {
    border-radius: 0px;
    border-color: #f7dad6;
    font-weight: 600;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

input[type=text],
select,
textarea,
.item-value {
    color: black;
    background: #edfbea;
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f7dad6;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus,
select:focus,
textarea:focus{
    background-color: lightyellow;
    border: red;
}

input[type=submit],
.cancel {
    /*background-color: #4fb840;*/
    color: white;
    /*padding: 14px 20px;*/
    padding: .375rem .75rem;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    /*color: black;*/
    /*font-weight: bold !important;*/
}

#newRestForm {
    clear: both;
}

.form-heading-nr {
    /*width: 30%;*/
    float: left;
    margin: 40px 0 0 10px;
}

.form-heading-nr h1 {
    white-space: nowrap;
}

.form_image {
    height: 100px;
    float: left;
}

.form_image img {
    /*height: 100px;*/
}

.bg_brown {
    background-color: #36120d !important;
}

.modal-footer {
    /*background: #2c6824;*/
    background: #246939;
}

.warning {
    font-size: 14px;
    color: #49f8ac;
}

.img_gallery {
    margin-top: 10px;
    list-style: none;
    height: 56px;
}
.img_thumbnail {
    width: 56px;
    height: 56px;
    padding: 2px;
    white-space: nowrap;
    border: 1px solid black;
    float: left;
    transition: border ease-out .25s;
}

.img_thumbnail img{
    height: 50px;
    width: 50px;
}

.img_thumbnail:hover {
    border: 1px solid white;
}

.selected{
    border: 1px solid yellow;
}

.btn-save {
    background: #00884e !important;
    border-color: #246939;
    transition: background .5s !important;
}


.btn-save:hover,
.btn-set:hover {
    background: #246939;
}

.btn-primary {
    background-color: #05834c;
        background-color: #005b34;
    border-color: #005b34;
}

.btn-primary:hover {
    background-color: #005b34;
        background-color: #00b668 !important;
}

.btn-secondary {
    background-color: #a56f67;
        background-color: #873f35;
    border-color: #873f35;
}

.btn-secondary:hover {
    background-color: #873f35;
        background-color: #a56f67;
}

.gallery {
        background-color: #005b34;
}
/*.tn_rest {*/
    /*width: 100px;*/
                /*}*/

.no_upload {
    display: none;
    color: #66d3a5;
}

.btn-remove {
    /*transition: background: .5s, color .25s;*/
}

.btn-remove:hover {
    /*color: white;*/
    /*background: #66d3a5;*/
}

.icons_delete {
    width: 56px;
    float: left;
    margin-top: -13px;
}

.icons_delete i {
    color :#4f0b02;
    /*border: 1px solid red;*/
    /*border-radius: 20px;*/
    transition: color ease-in .25s, opacity ease-in .25s;
    font-size: 20px;
    opacity: 0;
}

.icons_delete:hover i {
    color: #690f02;
}

.image_container {
    margin-left: 40px;
    text-align: center;
}

.image_container:after {
  content: "";
  display: table;
  clear: left;
}

.icon_show {
    opacity: 1 !important;
}
/*.dd-option-image, .dd-selected-image {*/
    /*height: 40px;*/
    /*margin-right: 10px !important;*/
    /*PADDING: 6px;*/
/*}*/

/*.dd-option-image {*/
    /*background: #f7dad6;*/
/*}*/

/*.dd-select {*/
    /*width: 210px;*/
/*}*/

#course {
    width: 19em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-delete {
    background: #c54b3b !important;
    transition: background .25s;
}

.input-delete:hover {
    background: #d06f62 !important;
}


/*iPhone 5 Portrait*/
@media only screen and (min-width: 320px) and (orientation: portrait) {
/*@media only screen and (min-width: 320px)  {*/

    .icon-add-restaurant {
        margin-bottom: 10px;
    }

    .user-status {
        float: right;
    }

    .icon-delete,
    .icon-edit,
    .menu-header {
        display: none;
    }

    .menu-header {
        opacity: 0;
    }


    .top-buffer {

        margin-bottom: 10px;
    }

    .restaurant-list {
        padding-left: 0;
        width: 234px;
        column-count: 2;
        -webkit-column-count: 2;
    }

    .restaurant-list-item:hover .icon-menu {
        transform: none;
    }

    .restaurant-card {
        width: 100px;
        height: 200px;
        margin-bottom: 30px;
    }

    .restaurant-list-item {
        height: 65%;
    }

    .login-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .profileImg {
        width: auto;
        margin: 5px 0 5px;
    }

    .profileImg img {
        height: 100px;
        margin-left: 0;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
    }

    .text-container {
        width: 40%;
        height: 100%;
    }
    .welcomeMsg {
        text-align: center;
    }

    .user-status {
        padding: 4px;
    }

    .user_picture {
        height: 30px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.15em;
    }

    input[type=submit],
    .cancel {
        padding: 7px 10px;
    }

    .creator img {
        width: 30px;
    }

    .item-price {
        width: auto;
        margin: 0 auto;
    }

    .icon-edit-r,
    .icon-delete-r {
        font-size: 40px;
    }

    .icon-edit-r {
        float: left;
        margin-left: 10px;
    }

    .icon-delete-r {
        float: right;
        margin-right: 10px;
    }

    .button-nav {
        margin: 10px 0 20px;
    }

    .button-mobile {
        display: block;
        margin-bottom: 40px;
    }

    .button-mobile .icon-edit-r {
        margin-left: 60px;
    }

    .button-mobile .icon-delete-r {
        margin-right: 60px;
    }
}


/*iphone 5 LS*/
@media only screen and (min-width: 568px) and (orientation: landscape) {
/*@media only screen and (min-width: 568px)  {*/

    .restaurant-list {
        width: 390px;
        padding-left: 0;
        column-count: 3;
        -webkit-column-count: 3;
    }

    .icon-edit-r {
        float: left;
        margin-left: 30px;
    }

    .icon-delete-r {
        float: right;
        margin-right: 30px;
    }

    .button-mobile .icon-edit-r {
        margin-left: 125px;
    }
    .button-mobile .icon-delete-r {
        margin-right: 125px;
    }
    .icon-add-r {
        margin-left: 30px;
    }

    .login-container {
        flex-direction: column;
    }

    .text-container {
        width: 25%;
    }

    .profileImg {
        margin: 0 auto;
    }
}


/*iPhone 6 Portrait*/
@media only screen and (min-width: 375px) and (orientation: portrait) {
/*@media only screen and (min-width: 375px)  {*/


    .creator {
        margin-right: 10px;
    }

    .restaurant-list {
        width: 245px;
    }

    .text-container {
        height: 90px;
    }
    .login-container {
        flex-direction: column;
    }

    .profileImg {
        margin: 0 auto;
    }
}

/*iPhone 6 LS*/
@media only screen and (min-width: 375px) and (orientation: landscape) {
/*@media only screen and (min-width: 375px)  {*/

    .banner-main {
        margin-top: 10px;
    }
    .restaurant-list {
        width: 450px;
    }
}


/*iPhone 6+ P */

@media only screen and (min-width: 414px) and (orientation: portrait) {
/*@media only screen and (min-width: 414px) {*/

    .restaurant-list {
        width: 300px;
        column-gap: 100px;
    }

}

/*iPhone 6+ LS */

/*@media only screen and (min-width: 735px) {*/
@media only screen and (min-width: 735px) and (orientation: landscape) {

    .restaurant-list {
        width: 500px;
    }

    .user-status {
    padding: 0.5rem;
}

}

/*iPad P */

@media only screen and (min-width: 768px) and (orientation: portrait) {
/*@media only screen and (min-width: 768px) {*/

    .icon-add {
        margin-left: 43px;
    }

    .icon-add-r {
        margin-bottom: 10px;
    }

    .button-mobile .icon-edit-r {
        margin-left: 200px;
    }

    .button-mobile .icon-delete-r {
        margin-right: 200px;
    }
}

/*iPad LS */

@media only screen and (min-width: 768px) and (orientation: landscape) {
/*@media only screen and (min-width: 1024px) and (orientation: landscape) {*/
    .container {
        margin-top: 30px;
    }

    .icon-edit-r {
        margin-left: 70px;
    }

    .icon-delete-r {
        margin-right: 70px;
    }

    .button-mobile .icon-edit-r {
        margin-left: 300px;
    }

    .button-mobile .icon-delete-r {
        margin-right: 300px;
    }
}

/*desktops*/

@media only screen and (min-width: 769px) {
    .login-container {
        display: block;
    }

    .text-container {
        width: 20%;
    }

    .button-mobile {
        display: none;
    }

    .restaurant-card {
        width: 200px;
        height: 230px;
        margin-bottom: 40px;
    }

    .restaurant-list {
        width: 800px;
        column-count: 3;
        -webkit-column-count: 3;
    }

    .restaurant-list-item {
        height: 75%;
    }

    .restaurant-name {
        line-height: 100%;
    }

    .icon-edit,
    .icon-delete,
    .menu-header {
        display: block;
    }

    .icon-delete {
        top: -19px;
        left: 2px;
    }

    .icon-edit  {
        left: 128px;
        top: 114px;
        z-index: 1;
    }

    .icon-menu {
        font-size: 45px !important;
        opacity: 1;
        top: -6px;
        left: calc((150px - 39px) / 2);
    }

    .restaurant-list-item:hover .icon-edit,
    .restaurant-list-item:hover .icon-delete,
    .restaurant-list-item:hover .icon-menu,
    .restaurant-list-item:hover .menu-header {
        opacity: 1;
    }

    .restaurant-list-item:hover .icon-edit {
        transform: translateY(-5px);
    }

    .restaurant-list-item:hover .icon-delete {
        transform: translateY(3px);
    }

    .restaurant-list-item:hover .icon-menu {
        transform: translateY(10px) scale(1.5);
    }
    .restaurant-list-item:hover .menu-header {
        transform: translateY(-20px);
    }

    .icon-edit-r {
        /*float: right;*/
        margin: 0 0 10px;
    }

    .icon-delete-r {
        float: right;
        margin: 0;
    }
}
