<html>
    <head>
        <link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
     <!--Navigation-->
        <nav class="navbar navbar-custom navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <span><span>EM</span>enus</span>
                    </a>
                </div>
                <!--<div class="collapse navbar-collapse navbar-right navbar-main-collapse">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li class="hidden">-->
                            <!--<a href="#"></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a class="page-scroll" href="#/">Menus</a>-->
                        <!--</li>-->

                    <!--</ul>-->
                <!--</div>-->
            </div>
        </nav>
        <div class="container">
            <div class="form-wrapper">
                <div class="form-heading">
                    <h1>Delete Restaurant</h1>
                </div>
                <form action="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id) }}" method="post">
                    <label>Name</label>
                    <div class="item-value">
                        <span>{{restaurant.name}}</span>
                    </div>
                    <div>
                        <input class="input-delete" type="submit" value="Delete">
                        <a class="cancel" href="{{ url_for('showMenu', restaurant_id = restaurant.id) }}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
    </body>
</html>




