    {% extends "main.html" %}
    {% block content %}
    {% include "header.html" %}
            <div class="form-wrapper">
                <div class="form-heading">
                    <h1>Edit Restaurant</h1>
                </div>
                <form class="edit-form" action="{{ url_for('editRestaurant', restaurant_id=restaurant_id) }}" method="post">
                    <label>Name <span class="required">*</span></label>
                    <div>
                        <input size="80" name="name" type="text" placeholder="{{restaurant.name}}" required>
                    </div>
                    <div>
                        <input type="submit" value="Edit">
                        <a class="cancel" href="{{ url_for('showRestaurants') }}">Cancel</a>
                    </div>
                </form>
            </div>
    {% endblock %}
