<html>
    <head>
        <link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
         <!--Navigation-->
        <nav class="navbar navbar-custom navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <span><span>EM</span>enus</span>
                    </a>
                </div>
                <!--<div class="collapse navbar-collapse navbar-right navbar-main-collapse">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li class="hidden">-->
                            <!--<a href="#"></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a class="page-scroll" href="#/">Menus</a>-->
                        <!--</li>-->

                    <!--</ul>-->
                <!--</div>-->
            </div>
        </nav>
        <div class="container">
            <div class="form-wrapper">
                <div class="form-heading">
                    <h1>Edit Menu Item</h1>
                </div>
                <form class="edit-form" action="{{ url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id) }}" method="post">
                    <label>Name <span class="required">*</span></label>
                    <div>
                        <input size="80" type="text" name="name" placeholder="{{item.name}}" required>
                    </div>
                    <label>Description <span class="required">*</span></label>
                    <div>
                        <textarea class="input input-desc" type="text" size="250" name="description" placeholder="{{item.description}}" required></textarea>
                    </div>
                    <label>Price <span class="required">*</span></label>
                    <div>
                        <input size="8" type="text" name="price" placeholder="{{item.price}}" required><br>
                    </div>
                    <label>Course <span class="required">*</span></label>
                    <div>
                        <select name="course">
                            <option value="Appetizer">Appetizer</option>
                            <option value="Entree">Entree</option>
                            <option value="Dessert">Dessert</option>
                            <option value="Beverage">Beverage</option>
                        </select>
                    </div>
                    <div>
                        <input type="submit" value="Edit">
                        <a class="cancel" href="{{ url_for('showMenu', restaurant_id = restaurant_id) }}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
