<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta name="google" content="notranslate">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Page for creating menu restaurants">
        <meta name="author" content="Phillip Stafford">
        <script src="https://use.fontawesome.com/d530985332.js"></script>
		<link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
		<title>EMenus</title>
	</head>
	<body>

    <!--Google Plus Sign in-->
        <div id="signinButton">
            <span class="g-signin"
                  data-scope="openid email"
                  data-clientid="215519493768-8jtog0odl8i5ap5dg3shcs8uic37emfh.apps.googleusercontent.com"
                  data-redirecturi="postmessage"
                  data-accesstype="offline"
                  data-cookiepolicy="single_host_origin"
                  data-callback="signInCallback"
                  data-approvalprompt="force">
            </span>
        </div>

        <div id="result"></div>

    <!--End Google Plus Sign-in-->

    <!--Facebook Sign-in-->

        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '121197365194785',
              xfbml      : true,
              version    : 'v2.10'
            });
            FB.AppEvents.logPageView();
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));

          function sendTokenToServer() {
              var access_token = FB.getAuthResponse()['accessToken'];
              console.log('Welcome! Fetching your information...');
              console.log(access_token);
              FB.api('/me', function(response) {
                  console.log('Successful login for: ' + response.name);
                  $.ajax({
                      type: 'POST',
                      url: '/fbconnect?state=[{STATE}]',
                      processData: false,
                      data: access_token,
                      contentType: 'application/octet-stream; charset=utf-8',
                      success: function(result) {
                          // Handle of verify the server response if necessary.
                          if (result) {
                              $('#result').html('Login Successful!<br>' + result + '<br>Redirecting...')
                              setTimeout(function() {
                                  window.location.href = "/restaurants";
                              }, 4000);
                          }
                          else {
                             $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                          }
                      }
                  })
              })
          }
        </script>

    <!--End Facebook Signin-->


         <!--Navigation-->
        <nav class="navbar navbar-custom navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <span><span>EM</span>enus</span>
                    </a>
                </div>
                <!--<div class="collapse navbar-collapse navbar-right navbar-main-collapse">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li class="hidden">-->
                            <!--<a href="#"></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a class="page-scroll" href="#/">Menus</a>-->
                        <!--</li>-->

                    <!--</ul>-->
                <!--</div>-->
            </div>
        </nav>
        <!--End Navigation-->

		<div class="container">
			<header>
			</header>

            <!--Facebook Login Button-->

            <button class="btn btn-default">
                <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                    <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                </fb:login-button>
            </button>

            <!--End Facebook Login Button-->

			<footer>
			</footer>
        </div>
	</body>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</html>
