<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
		<link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<title></title>
	</head>
	<body>
		<div class="container">
			<header>
				<!-- Navigation -->
				<nav class="navbar navbar-custom navbar-fixed-top navbar-default" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
								<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand page-scroll" href="#/">
								<span>Restaurant Menu</span>
							</a>
						</div>
						<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
							<ul class="nav navbar-nav">
								<li class="hidden">
									<a href="#"></a>
								</li>
								<li>
									<a class="page-scroll" href="#/">Menus</a>
								</li>

							</ul>
						</div>
					</div>
				</nav>
			</header>
			<div class="row restaurant-header">
                <div class="col-sm-4 col-sm-offset-1">
                    <h1>
                        Restaurants
                    </h1>
                </div>
            </div>
            <div class="row">
                {% for r in restaurants %}
                <div class="restaurant-item">
                    <div class="restaurantName col-sm-6 col-sm-offset-1">
                        <p>
                            {{r.name}}
                        </p>
                    </div>
                    <div class="col-sm-4 button-nav">
                        <input type="button" class="btn btn-primary" value="Edit" onclick="location.href = '{{ url_for('editRestaurant', restaurant_id = r.id) }}'">
                        <input type="button" class="btn btn-danger" value="Delete" onclick="location.href = '{{ url_for('deleteRestaurant', restaurant_id = r.id) }}'">
                    </div>
                </div>
                {% endfor %}
			</div>
            <div class="row">
                <div class="sol-sm-4 col-sm-offset-4">
                    <input type="button" class="btn btn-primary" value="New Restaurant" onclick="location.href = '{{ url_for('newRestaurant') }}'">
                </div>
            </div>

			<footer>

			</footer>
	</body>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{{ url_for('static', filename='app.js') }}"></script>
	<!--<script src="app.js"></script>-->

</html>
