<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Page for creating menu restaurants">
        <meta name="author" content="Phillip Stafford">
        <script src="https://use.fontawesome.com/d530985332.js"></script>
		<link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<title>Restaurant Menu Creator</title>
	</head>
	<body>
		<div class="container">
			<header>
			</header>
            <div class="flash blink_me">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
				<ul>
					{% for message in messages %}
					<li> <strong> {{ message }} </strong> </li>
					{% endfor %}
				</ul>
					{% endif %}
				{% endwith %}
			</div>
			<div class="clearfix"></div>
			<div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <h1>
                        Restaurants
                    </h1>
                </div>
            </div>
            <div class="row">
                <i class="fa fa-plus icon-add" aria-hidden="true" onclick="location.href = '{{ url_for('newRestaurant') }}'"></i>
                <ul class="restaurant-list">
                    {% for r in restaurants %}
                    <div class="restaurant-card">
                       <li class="restaurant-list-item">
                           <i class="fa fa-pencil icon-edit" aria-hidden="true" onclick="location.href = '{{ url_for('editRestaurant', restaurant_id = r.id) }}'"></i>
                           <i class="fa fa-trash icon-delete" aria-hidden="true" onclick="location.href = '{{ url_for('deleteRestaurant', restaurant_id = r.id) }}'"></i>
                           <i class="fa fa-file icon-menu" aria-hidden="true" onclick="location.href = '{{ url_for('showMenu', restaurant_id = r.id) }}'"></i>
                           <div class="menu-header" onclick="location.href = '{{ url_for('showMenu', restaurant_id = r.id) }}'">
                               Menu
                           </div>
                       </li>
                       <div class="restaurant-footer">
                           <div class="restaurant-name">
                                {{r.name}}
                            </div>
                       </div>
                    </div>
                    {% endfor %}
                </ul>
			</div>
			<footer>

			</footer>
        </div>
	</body>
	<!--<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>-->
	<!--<script src="{{ url_for('static', filename='app.js') }}"></script>-->
	<!--<script src="app.js"></script>-->

</html>
