<html>
    <head>
        <link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
			<div class="title">
				<h1>
					{{restaurant.name}}
				</h1>
			</div>
			<div class="title">
				<h4>
					Restaurant
				</h4>
			</div>

				<div class="menu-section">
					<h4 class="section-title">Appetizers</h4>
					{% for i in items if i.course == 'Appetizer'%}
					<div class="row">
						<div class="item-list col-sm-8">
							<div class="itemName">
								<p>
									{{i.name}} <br>
									{{i.description}} <br>
									{{i.price}} <br>
									{{i.course}} <br>
								</p>
							</div>
						</div>
						<div class="button-nav col-sm-4">
							<input type="button" class="btn btn-primary" value="Edit Item" onclick="location.href = '{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'">
							<input type="button" class="btn btn-danger" value="Delete Item" onclick="location.href = '{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'">
						</div>
					{% endfor %}
					</div>
					<h4 class="section-title">Entrees</h4>
					{% for i in items if i.course == 'Entree'%}
					<div class="row">
						<div class="item-list col-sm-8">
							<div class="itemName">
								<p>
									{{i.name}} <br>
									{{i.description}} <br>
									{{i.price}} <br>
									{{i.course}} <br>
								</p>
							</div>
						</div>
						<div class="button-nav col-sm-4">
							<input type="button" class="btn btn-primary" value="Edit Item" onclick="location.href = '{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'">
							<input type="button" class="btn btn-danger" value="Delete Item" onclick="location.href = '{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'">
						</div>
					</div>
					{% endfor %}

					<h4 class="section-title">Desserts</h4>
					{% for i in items if i.course == 'Dessert'%}
					<div class="row">
						<div class="item-list col-sm-8">
							<div class="itemName">
								<p>
									{{i.name}} <br>
									{{i.description}} <br>
									{{i.price}} <br>
									{{i.course}} <br>
								</p>
							</div>
						</div>
						<div class="button-nav col-sm-4">
							<input type="button" class="btn btn-primary" value="Edit Item" onclick="location.href = '{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'">
							<input type="button" class="btn btn-danger" value="Delete Item" onclick="location.href = '{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'">
						</div>
					</div>
					{% endfor %}
					<h4 class="section-title">Beverages</h4>
					{% for i in items if i.course == 'Beverage'%}
					<div class="row">
						<div class="item-list col-sm-8">
							<div class="itemName">
								<p>
									{{i.name}} <br>
									{{i.description}} <br>
									{{i.price}} <br>
									{{i.course}} <br>
								</p>
							</div>
						</div>
						<div class="button-nav col-sm-4">
							<input type="button" class="btn btn-primary" value="Edit Item" onclick="location.href = '{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'">
							<input type="button" class="btn btn-danger" value="Delete Item" onclick="location.href = '{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'">
						</div>
					</div>
					{% endfor %}
					<div class="row">
						<div class="item-list col-sm-8">
						</div>
						<div class="button-nav col-sm-4 col col-sm-offset-8">
							<input type="button" class="btn btn-primary" value="Create Item" onclick="location.href = '{{ url_for('newMenuItem', restaurant_id = restaurant.id) }}'">
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div>
					<a href="/">Return to home</a>
				</div>

			</footer>

        </div>
    </body>
</html>
