<html>
    <head>
		<script src="https://use.fontawesome.com/d530985332.js"></script>
        <link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
			<div class="title">
				<h1>
					{{restaurant.name}}
				</h1>
			</div>
			<div class="title">
				<h4>
					Restaurant
				</h4>
			</div>

				<div class="menu-section">
					<i class="fa fa-plus icon-add-r" aria-hidden="true" onclick="location.href = '{{ url_for('newMenuItem', restaurant_id = restaurant.id) }}'"></i>
					<h4 class="section-title">Appetizers</h4>
					{% for i in items if i.course == 'Appetizer'%}
					<div class="row">
						<div class="item-list col-sm-8">
							<div class="itemName">
								<p>
									<b>{{i.name}}</b> <br>
									<i>{{i.description}}</i><br>
									{{i.price}} <br>
									{{i.course}} <br>
								</p>
							</div>
						</div>
						<div class="button-nav col-sm-3">
							<div>
								<i class="fa fa-pencil icon-edit-r" aria-hidden="true" onclick="location.href = '{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'"></i>
							</div>
							<div>
								<i class="fa fa-trash icon-delete-r" aria-hidden="true" onclick="location.href = '{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'"></i>
							</div>
						</div>
					{% endfor %}
					</div>
					<h4 class="section-title">Entrees</h4>
					{% for i in items if i.course == 'Entree'%}
					<div class="row">
						<div class="item-list col-sm-8">
							<div class="itemName">
								<p>
									<b>{{i.name}}</b> <br>
									<i>{{i.description}}</i><br>
									{{i.price}} <br>
									{{i.course}} <br>
								</p>
							</div>
						</div>
						<div class="button-nav col-sm-3">
							<div>
								<i class="fa fa-pencil icon-edit-r" aria-hidden="true" onclick="location.href = '{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'"></i>
							</div>
							<div>
								<i class="fa fa-trash icon-delete-r" aria-hidden="true" onclick="location.href = '{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'"></i>
							</div>
						</div>
					</div>
					{% endfor %}

					<h4 class="section-title">Desserts</h4>
					{% for i in items if i.course == 'Dessert'%}
					<div class="row">
						<div class="item-list col-sm-8">
							<div class="itemName">
								<p>
									<b>{{i.name}}</b> <br>
									<i>{{i.description}}</i><br>
									{{i.price}} <br>
									{{i.course}} <br>
								</p>
							</div>
						</div>
						<div class="button-nav col-sm-3">
							<div>
								<i class="fa fa-pencil icon-edit-r" aria-hidden="true" onclick="location.href = '{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'"></i>
							</div>
							<div>
								<i class="fa fa-trash icon-delete-r" aria-hidden="true" onclick="location.href = '{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'"></i>
							</div>
						</div>
					</div>
					{% endfor %}
					<h4 class="section-title">Beverages</h4>
					{% for i in items if i.course == 'Beverage'%}
					<div class="row">
						<div class="item-list col-sm-8">
							<div class="itemName">
								<p>
									<b>{{i.name}}</b> <br>
									<i>{{i.description}}</i><br>
									{{i.price}} <br>
									{{i.course}} <br>
								</p>
							</div>
						</div>
						<div class="button-nav col-sm-3">
							<div>
								<i class="fa fa-pencil icon-edit-r" aria-hidden="true" onclick="location.href = '{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'"></i>
							</div>
							<div>
								<i class="fa fa-trash icon-delete-r" aria-hidden="true" onclick="location.href = '{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'"></i>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<footer>
				<div>
					<a href="/">Return to home</a>
				</div>

			</footer>

        </div>
    </body>
</html>
